/* General  */
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Mulish-Regular;
    src: url(../Fonts/Mulish-Regular.ttf);
}
@font-face {
    font-family: Mulish-Light;
    src: url(../Fonts/Mulish-Light.ttf);
}
@font-face {
    font-family: Mulish-Bold;
    src: url(../Fonts/Mulish-Bold.ttf);
}
html {
    font-size: 16px;
    font-family: Mulish-Light;
    color: rgba(31, 21, 52, 1);
}
img {
    max-width: 100%;
    height: auto;
}
/* Header  */
.container {
    width: 80%;
    margin-inline: auto;
}
    /* navbar */
.navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 56px;
    min-width: 650px;
}
.navbar ul{
    position: relative;
    left: -5%;
}
.navbar-link {
    display: inline;
    margin-inline-end: 2.25rem;
    
}
.navbar-link a{
    text-decoration: none;
    opacity: 50%;
    font-family: Mulish-Regular;
    color: rgba(31, 21, 52, 1);
}
.navbar-link:first-child a{
    font-family: Mulish-Bold;
    opacity: 100%;
}
.navbar-link a:hover {
    opacity: 100%;
}
.navbar-link:last-child {
    margin-inline-end: 0;
}
    /* hero */
.hero {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero .text h2{
    font-size: 3rem;
    font-family: Mulish-Bold;
    max-width: 82%;
    margin-bottom: 1.5rem;
}
.hero .text p{
    font-size: 1.31rem;
    font-family: Mulish-Light;
    color: rgba(125, 121, 135, 1);
    max-width: 75%;
    margin-bottom: 2.5rem;
}
header {
    background-image: url(../Images/element.png);
    background-repeat: no-repeat;
    background-position: left top 160px;
}
.button {
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    font-size: 0.9rem;
    font-family: Mulish-Bold;
    background-color: rgba(69, 143, 246, 1);
    display: inline-block;
    padding-block: 16px;
    text-align: center;
    border-radius: 55px;
    width: 30%;
}